# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
 
 
# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env
.env.prod
.env.prod.postgres
.env.local.prod
.env.local.dev
 
*.db
*.rdb
*.sqlite3

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

 
venv/
data/
*.pyc